@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.justify-text {
    text-align: justify;
}

.navbar-nav .nav-item.active .nav-link {
    color: #7FCE46;
    font-weight: bold;
}

.about-heading {
    margin-bottom: 5px; 
    font-size: 70px;
}

.KOB-intro{
    font-style: italic;
    margin-left: 50px;
    margin-right: 50px
}

.KOB-body{
    margin-left: 150px;
    margin-right: 150px;
    text-align: lefta;
}

.meet-heading{
    font-size: 50px;
    color:#940C0C;
}
.banner-image {
    max-width: 100%; /* Adjust as needed */
    max-height: 100%; /* Adjust as needed */
}
.card-title{
    color: #24B4C7 ;
    font-weight: bold;
    text-align: center;
}
.btn-pink{
    background-color: #DC35A1;
    color: white;
}
.card {
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.btn-teal{
    background-color: #24B4C7;
    color: white;
}

.btn-green{
    background-color: #7FCE46;
    color: white;
}

.btn-pink{
    background-color: #DC35A1;
    color: white;
}

.btn-ol-teal{
    color: #24B4C7;
    border-color: #24B4C7;
}

.btn-ol-pink{
    color: #DC35A1;
    border-color: #DC35A1;
}

.pink {
    color: #DC35A1
}

.green {
    color: #7FCE46
}